spring:
  profiles:
    active: test
  application:
    name: todoback
server:
  servlet:
    context-path: /api
logging:
  level:
    com.raptarior.todoback: DEBUG
    org.springframework.web: DEBUG
